@import "../../colors.module.scss";

.display {
  width: 100px;
  height: 100px;
  background-color: lighten($base, 40%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
