* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  font-family: sans-serif;
  color: #646464;
  padding: 20px 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content 100px min-content;
  justify-items: center;
  align-items: center;
  
   h1{
     grid-column: 1 / -1;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
   }
}


